.single-news {
  margin-bottom: 120px;

  @media(max-width: 1024px){
    margin-bottom: 100px;
  }

  &__title {
    margin-bottom: 16px;
  }

  &__date {
    display: block;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #292929;
    margin-bottom: 40px;

    @media(max-width: 1024px) {
      margin-bottom: 30px;
    }
    @media(max-width: 767px) {
      font-size: 14px;
      margin-bottom: 8px;
    }
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    width: 100%;

    @media(max-width: 1024px){
      flex-direction: column;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    width: 50%;
    padding-right: 80px;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    color: #292929;

    @media(max-width: 1330px){
      padding-right: 50px;
    }
    @media(max-width: 1024px){
      width: 100%;
      padding: 0;
      margin-bottom: 51px;
    }
    @media(max-width: 767px) {
      font-size: 14px;
    }

    p{
      &:not(:last-child){
        margin-bottom: 20px;
      }
    }


  }
  &__images{
    display: flex;
    flex-basis: 50%;
    width: 50%;
    height: 466px;

    @media(max-width: 1330px){
      height: 330px;
    }
    @media(max-width: 1024px){
      width: 100%;
    }

    .slider__container{
      width: 100%;
      position: relative;

      .pictures{
        .swiper-slide{
          img{
            border-radius: 6px;
            min-height: 100%;
            object-fit: cover;
          }
        }

        .swiper-button-prev:after,
        .swiper-button-next:after{
          content: none;
        }
      }

      .swiper-pagination-bullet{
        width: 54px;
        height: 4px;
        background: #DCE3ED;
        border-radius: 27px;
        padding: 0 10px;

        &-active{
          background: #9DAABE;
        }
      }

      .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
        bottom: -30px;

        @media(max-width: 1024px){
          bottom: -30px;
        }
      }
    }
  }




}

.more {
  margin-bottom: 250px;

  @media(max-width: 1024px){
    margin-bottom: 190px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;

    @media(max-width: 767px){
      margin-bottom: 40px;
    }
  }

  &__slider {
    position: relative;
  }

  .reference {
    &__item {
      padding: 14px;
      background: #FFFFFF;
      border: 1px solid #DCE3ED;
      border-radius: 6px;
      height: 144px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      @media(max-width: 767px){
        padding: 9px;
      }
    }

    &__title {
      font-weight: 600;
      font-size: 22px;
      line-height: 130%;
      color: #292929;
      margin-bottom: 40px;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;

      @media(max-width: 1024px){
        margin-bottom: 48px;
        font-size: 20px;
        -webkit-line-clamp: 3;
      }
      @media(max-width: 767px){
        margin-bottom: 20px;
        font-size: 18px;
        -webkit-line-clamp: 4;
      }
    }

    &__read-more {
      a {
        font-weight: 400;
        font-size: 16px;
        line-height: 100%;
        text-decoration-line: underline;
        color: #9DAABE;
        position: relative;

        &:after {
          position: absolute;
          content: '';
          width: 100%;
          height: 1px;
          background-color: #9DAABE;
          bottom: 2px;
          left: 0;
        }

        &:hover{
          color: #8DA9D4;
        }
        &:hover:after{
          background-color: #8DA9D4;
        }

        @media(max-width: 767px){
          font-size: 14px;
        }
      }
    }

    &__slide {
      width: 36%;
    }

    &__buttons {
      width: 134px;
      position: relative;
      top: -5px;

      @media(max-width: 767px){
        display: none;
      }
    }

    &__button-prev,
    &__button-next {
      width: 62px;
      height: 41px;
      top: 0;

      &:after {
        content: none;
      }
    }

    &__button-prev {
      left: 0;
    }

    &__button-next {
      right: 0;
    }
  }
}

