//---------------------------- Header -------------------------------
.logo {
  width: 167px;
  height: 31px;

  @media(max-width: 1270px) {
    width: 150px;
  }
}

.icon-favourites,
.icon-basket {
  margin-left: 35px;
  display: flex;
  align-items: center;
  outline: none;

  @media(max-width: 1270px) {
    margin-left: 0;
  }
}

.favourites,
.basket {
  width: 32px;
  height: 32px;
  fill: #000;
  padding: 5px;
}

.search {
  width: 26px;
  height: 26px;
  fill: #9DAABE;
}
//---------------------------- end Header -------------------------------
//---------------------------- Contacts -------------------------------

.vk {
  width: 30px;
  height: 18px;
  fill: #9DAABE;

  &:hover {
    fill: #8DA9D4;
  }
}

.dzen {
  width: 28px;
  height: 28px;
  fill: #9DAABE;

  &:hover {
    fill: #8DA9D4;
  }
}
//---------------------------- end Contacts -------------------------------
//---------------------------- Pagination -------------------------------
.pagination-prev,
.pagination-next {
  width: 42px;
  height: 21px;
  fill: #DCE3ED;
  transition: all .2s linear;

  &:hover {
    fill: #9DAABE;
  }
}
//---------------------------- end Pagination -------------------------------
//---------------------------- Slider pictures -------------------------------
//in single-news

.pictures-prev,
.pictures-next {
  width: 18px;
  height: 31px;
  fill: #DCE3ED;

  @media(max-width: 1024px){
    display: none;
  }
}
//---------------------------- end Slider pictures -------------------------------
//---------------------------- Single-stocks share -------------------------------
.vk__min{
  width: 20px;
  height: 12px;
  fill: #9DAABE;
  transition: all .2s linear;

  &:hover {
    fill: #8DA9D4;
  }
}
.icon-ok{
  width: 11px;
  height: 18px;
  fill: #9DAABE;
  transition: all .2s linear;

  &:hover {
    fill: #8DA9D4;
  }
}
.icon-tg{
  width: 17px;
  height: 15px;
  fill: #9DAABE;
  transition: all .2s linear;

  &:hover {
    fill: #8DA9D4;
  }

}


//---------------------------- end Single-stocks share -------------------------------


